.root {
    -fx-background-color: #797979;
}

.tab {
    -fx-focus-color: transparent;
    -fx-border-radius: 6 6 0 0;
    -fx-background-radius: 6 6 0 0;
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #54C10B;
}

.tab-pane {
    -fx-tab-min-width: 100px;
}

.tab-pane .tab {
    -fx-background-color: #565656;
}

.tab-pane .tab:selected {
    -fx-border-radius: 6 6 0 0, 6 6 0 0;
    -fx-background-color: #797979;
}

.tab-pane .tab-header-area {
    -fx-opacity: 100;
}

.tab-header-background {
    -fx-background-color: #464646;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #7BA51C;
    -fx-font-size: 14px;
}

.ecuButtons {
    -fx-background-color: #af1616;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-border-radius: 42px;
    -fx-font-size: 14px;
}

.ecuButtons:hover {
    -fx-background-color: #660606;
}

.logButton {
    -fx-background-color: #156AD6;
    -fx-background-radius: 20px;
    -fx-text-fill: black;    
    -fx-border-radius: 42px;
    -fx-font-size: 20px;
}

.logButton:hover {
    -fx-background-color: #0F53AD;
}

.closeButton {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-text-fill: black;    
    -fx-border-radius: 42px;
    -fx-font-size: 20px;
}

.closeButton:hover {
    -fx-background-color: #E2E2E2;
}

.logLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-text-fill: black;
}

.checkbox {
    -fx-font-size: 20;    
    -fx-font-family: "Copperplate";
}

.contactsLabel {
    -fx-font-size: 15;    
    -fx-font-family: "Copperplate";
}

.pathInfoLabel {
    -fx-font-size: 11;
}